{% comment %}Logiciels : les écrans des quatre logiciels, en éventail. Décoratif.{% endcomment %}
{% load static %}
<div class="eventail">
  <figure class="eventail__ecran eventail__ecran--1 vitrine--isidor">
    <img src="{% static 'img/produits/isidor-tableau-de-bord.webp' %}" alt="" width="1300" height="860">
    <figcaption>Isidor</figcaption>
  </figure>
  <figure class="eventail__ecran eventail__ecran--2 vitrine--katarina">
    <img src="{% static 'img/produits/katarina-taches.webp' %}" alt="" width="1006" height="605">
    <figcaption>Katarina</figcaption>
  </figure>
  <figure class="eventail__ecran eventail__ecran--3 vitrine--vanessa">
    <img src="{% static 'img/produits/vanessa-suivi.webp' %}" alt="" width="1040" height="640">
    <figcaption>Vanessa</figcaption>
  </figure>
  <figure class="eventail__ecran eventail__ecran--4 vitrine--bernard">
    <img src="{% static 'img/produits/bernard-portefeuille.webp' %}" alt="" width="1088" height="508">
    <figcaption>Bernard</figcaption>
  </figure>
</div>
